body{
    margin: 0%;
    height: 100vh;
    background-image: url(../img/game/backgroud-body.jpg);
    background-size: 10%;
    display: flex;
    justify-content: center;
}

section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header,footer{
    flex: 0.1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

article{
    flex: 0.80;
    background-color: wheat;
}

footer{
    background-color: beige;
}

#centerdoor,#leftdoor,#rightdoor{
    height: 25%;
    width: 20%;
    max-height: 530px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
}

#centerdoor{
    left: 40%;
}

#leftdoor{
    left: 5%;
}

#rightdoor{
    left: 75%;
}

.door{
    height: 100%;
    width: 45%;
}

.pos-asolute{
    position: absolute;
}