body{
    margin: 0%;
    height: 100vh;
    background-image: url(../img/game/backgroud-body.jpg);
    background-size: 10%;
    display: flex;
    justify-content: center;
}

section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header,footer{
    flex: 0.1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

article{
    flex: 0.80;
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: wheat;
}

footer{
    background-color: beige;
}

#centerdoor,#leftdoor,#rightdoor{
    height: 27%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centerdoor>div,#leftdoor>div,#rightdoor>div{
    height: 100%;
    width: 45%;
    transition: all 1s ease-in-out;
    z-index: 1;
}