body{
    margin: 0%;
    background-image: url();
}

h1{
    font-size: 8vw;
    color: rgb(17, 17, 17);
    text-transform: uppercase;
    font-family: 'BAD_GRUNGE';
}

b{
    color: rgb(95, 0, 0);
}

input{
    height: 15%;
    width: 100%;
    color: white;
    border-radius: 0.2vw;
    background-color: unset;
}

button{
    width: 40%;
    color: white;
    border-color: gray;
    background-color: unset;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.200);
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 10%;
    background-image: url(../img/index/backgroud-selection.jpg);
    
}

article{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/index/backgroud-article.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-left: solid gray 0.2vw;
    border-right: solid gray 0.2vw;
}

.contenitore-generale{
    height: 35%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contenitore-titolo{
    height: 30%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    backdrop-filter: blur(0.05vw);
}

.contenitore-scheda{
    height: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 1vw;
    backdrop-filter: blur(0.2vw);
    background: linear-gradient(45deg,transparent  0% ,rgb(20,20,20) 70%);
}

.contenitore-bottoni{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scheda{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.8s ease-in-out;
    margin-left: 5%;
}

#loadbar{
    height: 50%;
    width: 50%;
    opacity: 0;
    background-image: url('../img/index/brand/loadbar.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.atload{
    animation: atloadd 0.8s;
    animation-fill-mode: forwards;
}

.wrong{
    animation: worng 0.8s;
    animation-fill-mode: forwards;
}



#send{
    font-size: 1vw;
}

#conferma{
    display: none;
}


@font-face {
    font-family: 'BAD_GRUNGE';
    src: url(../font/BAD_GRUNGE.ttf);
}

@keyframes worng {

    0%{border-color: gray;transform: translateX(0%);}
    25%{border-color: red;transform: translateX(2%);}
    50%{border-color: red;transform: translateX(-2%);}
    75%{border-color: red;transform: translateX(2%);}
    100%{border-color: gray;transform: translateX(0%);}
    
}

@keyframes atloadd {

    0%{opacity: 0;transform: rotate(0deg);}
    25%{opacity: 1;transform: rotate(90deg);}
    50%{opacity: 1;transform: rotate(180deg);}
    75%{opacity: 1;transform: rotate(270deg);}
    100%{opacity: 0;transform: rotate(0deg);}
    
}
