body{
    margin: 0%;
    background-image: url();
}

h1{
    font-family: 'BAD_GRUNGE';
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/index/backgroud-selection.jpg);
    
}

article{
    height: 100%;
    width: 80%;
    background-image: url(../img/index/backgroud-article.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenitore-titolo{}

@font-face {
    font-family: 'BAD_GRUNGE';
    src: url(../font/BAD\ GRUNGE.ttf);
}