.personaggio{
    height: 20%;
    width: 10%;
    max-width: 150px;
    max-height: 250px;
    background-image: url(../img/game/backgroud-body.jpg);
    position: absolute;
    z-index: 3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity ease-in-out 1s;
}

.props{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.velociraptor{
    height: 30%;
    width: 20%;
}

.kitmedico{
    height: 4%;
    width: 5%;
}