.personaggio{
    max-width: 150px;
    max-height: 250px;
    background-image: url(../img/game/backgroud-body.jpg);
    position: absolute;
    z-index: 3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity ease-in-out 0.5s;
    background-color: antiquewhite;
}

.props{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
    position: absolute;
}