.personaggio{
    background-image: url(../../img/animations/player/natural.gif);
    position: absolute;
    z-index: 3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity ease-in-out 0.5s;
}

.props{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
}

.velociraptor{
    background-image: url(../../img/animations/velociraptor/natural.gif);
    z-index: 4;
}